@using Rectify.Models.ViewModels;
@model CustomerFeedbackViewModel

@{
    ViewData["Title"] = "Contact";
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="~/css/Customer.css" asp-append-version="true" />

</head>


<div class="container">
    <div class="box">
        @* Owner image and text *@
        @if (!string.IsNullOrEmpty(Model.OwnerImageBase64))
        {
            <div style="display: flex; align-items: center; gap: 20px;">
                <img id="ownerImage" src="@Model.OwnerImageBase64" class="rounded-image" style="width: 80px; height: 80px;" />
                <div>
                    <h2>
                        Nice to meet you, could you please introduce yourself
                    </h2>
                </div>
            </div>
        }
        else
        {
            <h2>Nice to meet you, could you please introduce yourself</h2>
        }

        <form asp-action="ContactStep2" method="post">
            <div class="form-group">
                <label asp-for="CustomerName">Fullname:</label>
                <input asp-for="CustomerName" class="form-control" required/>
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <input type="hidden" name="LogoImageBase64" value="@Model.LogoImageBase64" />
            <input type="hidden" name="OwnerImageBase64" value="@Model.OwnerImageBase64" />
            <input type="hidden" name="OwnerName" value="@Model.OwnerName" />
            <input type="hidden" name="SelectedCompanyId" value="@Model.SelectedCompanyId" />
            <input type="hidden" name="Message" value="@Model.Message" />

            <button type="submit" class="btn btn-pink" style="margin-top: 20px; display: block; margin-left: auto; margin-right: auto;">Next</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
